<div class="card product-selected-card " id={{productCardId}}><img class="card-img-top p-1 pt-2 " src={{image}}
    alt="Product">
<div class="card-body p-2 pt-3">
    <h6 class="card-title">{{title}}</h6>
    <p class=" mb-0 pb-0 cardDescriptionStyle" title={{description}}>{{description}}</p>
    <hr class="mt-1 mb-1">
    <p class="text-center pb-0 mb-0">Rs <strong class="pl-1">{{price}}</strong></p>
</div>
<div class="card-footer product-selected py-0">
    <h5 class="remove-to-cart-cls p-2" style="display: none;" id={{removeBtnId}} name={{id}}><strong> Remove
        </strong></h5>
    <h5 class="add-to-cart-cls p-2" id={{addBtnId}} name={{id}}><strong>Add To
            Cart</strong></h5>
</div>
</div>